{% extends layoutResolver().resolve() %}

{% use '::flash-bag.html.twig' %}

{% block content %}
    {% set person = contractor.getPerson() %}
    {{ block('flash_bag') }}

    <form method="post" action="" role="form" enctype="multipart/form-data">
        {{ form_widget(form) }}

        {#{% block form %}#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<h3>{{ 'user.edit.title_base'|trans }}</h3>#}
                    {#<hr />#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{% block form_base_left %}#}
                        {#{{ form_row(form.person.firstname) }}#}
                    {#{% endblock form_base_left %}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{% block form_base_right %}#}
                        {#{{ form_row(form.person.lastname) }}#}
                    {#{% endblock form_base_right %}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.shortname) }}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.person.taxNumber) }}#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<h3>{{ 'user.edit.title_address'|trans }}</h3>#}
                    {#<hr />#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#<h4>{{ form_label(form.person.homeAddress) }}</h4>#}
                    {#{{ form_row(form.person.homeAddress.street) }}#}
                    {#{{ form_row(form.person.homeAddress.postalCode) }}#}
                    {#{{ form_row(form.person.homeAddress.city) }}#}
                    {#{{ form_row(form.person.homeAddress.country) }}#}
                    {#<label class="checkbox-inline">#}
                        {#{{ form_row(form.person.sameAddress, {'attr': {'class': 'square-grey'} }) }}#}
                    {#</label>#}
                {#</div>#}
                {#<div class="col-md-6" id="correspondenceAddress" style="display: none;">#}
                    {#<h4>{{ form_label(form.person.correspondenceAddress) }}</h4>#}
                    {#{{ form_row(form.person.correspondenceAddress.street) }}#}
                    {#{{ form_row(form.person.correspondenceAddress.postalCode) }}#}
                    {#{{ form_row(form.person.correspondenceAddress.city) }}#}
                    {#{{ form_row(form.person.correspondenceAddress.country) }}#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.iban) }}#}
                    {#{{ form_row(form.person.bankAccountNumber) }}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.person.emails) }}#}
                {#</div>#}
            {#</div>#}
        {#{% endblock form %}#}

        {#<div class="row">#}
            {#<div class="col-md-8">#}
                {#<p>{{ 'user.edit.policy_and_terms'|trans }}</p>#}
            {#</div>#}
            {#<div class="col-md-4">#}
                {#<button class="btn btn-green btn-block">#}
                    {#<i class="fa fa-arrow-circle-right"></i>#}
                    {#{{ "update"|trans }}#}
                {#</button>#}
            {#</div>#}
        {#</div>#}
        {#{{ form_row(form._token) }}#}
    </form>

    <script>
        $(document).ready(function(){
            $('#contractor_person_sameAddress').on('ifToggled', function(){
                $('#correspondenceAddress').toggle(200);
            });
        });
    </script>
{% endblock content %}