{% extends '::login.html.twig' %}

{% block content %}
    {% block flash_bags %}{{ parent() }}{% endblock %}
    <form method="post" action="{{ path('_reset_password') }}" class="form-horizontal">
        <h4>{{ "security:reset_password.header"|trans }}</h4>
        <p>{{ "security:reset_password.info"|trans }}</p>
        <div class="form-group">
            <label for="email">{{ "email"|trans }}</label>
            {{ form_widget(form.email) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-info">{{ "security:reset_password.send"|trans }}</button>
    </form>
{% endblock content %}